<head>
  <meta charset="UTF-8">
  <title>The Dope on Dev</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        The Dope on Dev    
        {{!-- ****This needs to be a conditional #if with "The Dop on Dev" and "Your Dashboard"--}}
      </h1>
      <h4>A blog site for the real dope on tech</h4>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>