<head>
  <meta charset="UTF-8">
  <title>The Dope on Dev</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">

    <header class="display-flex justify-space-between align-center p-2">
      <h1>The Tech Blog</h1>
      <h3>The real scoop on tech</h3>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <!-- Conditionally render login or logout links -->
{{#if logged_in}}
      <a id="logout">Logout</a>
{{else}}
      <a href="/login">Login</a> <a href="/signup">Signup</a>
{{/if}}
    </nav>

    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
  </div>

{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}
</body>

</html>