<div class="menu-container">
  <h2>Posts</h2>
  <p>Most recent at top. Click a post title to see the full article.</p>
  <p>Or author your own post!</p>
  <a href="/create"><button id="add-article" type="button" class="btn btn-info">Add Article</button></a>
{{#each articles as |article|}}
  <a href="/article/{{id}}">
    <div class="card">
      <div class="card-header col-md-12">
        <h3>{{article.article_title}}</h3>
        <p>{{format_date article.article_createDate}}</p>
      </div>  
    </div>
  </a>
{{/each}}
</div>