<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      {{article.article_title}}
    </h2>
  </div>
  <div class="article-stats">
    <p>
      Article number: {{article.id}}<br>
      Creation date: {{article.article_createDate}}
    </p>
  </div>
  <div class="article-content">
    <p>
      {{article.article_content}}
    </p>
  </div>

</div>

{{!-- 
<script src="/js/add-article.js"></script> --}}
