<div class="card">
  <div class="add-comment-container">
    <h2>
      Add your comment
    </h2>
    <form class="new-comment-form">

      <label for="comment_content">
        Your comment:
      </label>
      <br />
      <textarea id="comment_content" name="comment_content" rows="5" cols="30">
      {{comment_content}}
    </textarea>
      <br />
      <label for="user_id">  {{!-- Is this working correctly --}}
        User ID:
      </label>
      <br />
      <textarea id="user_id" name="user_id" rows="2" cols="30">
      {{user_id}}
    </textarea>
      <br />
      <label for="comment_createDate">
        Date:
      </label>
      <br />
      <textarea id="comment_createDate" name="comment_createDate" rows="2" cols="30">
      {{comment_createDate}}
    </textarea>
      <br />
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
</div>

<script src="/js/add-comment.js"></script>
