<div class="card">
  <div class="add-comment-container">
    <h2>
      Add your comment
    </h2>
    <form class="new-comment-form">

      <label for="comment_content">
        Your comment:
      </label>
      <br />
      <textarea id="comment_content" name="comment_content" rows="5" cols="30">
      {{comment_content}}
       </textarea>
      <br />
      <label for="article_id">
        Article ID:
      </label>
      <br />
      <p id="article_id">{{articleId}}</p>
      <br />
      <button type="submit" value="Submit">
        Submit
      </button>
      <br />
    </form>
  </div>
</div>

<script src="/js/add-comment.js"></script>
