<div class="menu-container">
  <h2>Dashboard - Your Blog Posts</h2>
  <a href="/create">
    <button id="add-article" type="button" class="btn btn-info">Add Article</button>
  </a>
{{#each articles as |article|}}
  <a href="/article/{{id}}">
    <div class="card">
      <div class="card-header col-md-12">
        <h3>{{article.article_title}}</h3>
        <p style="display:none">{{article.id}}</p>
        <p>{{format_date article.article_createDate}}</p>
      </div>  
    </div>
  </a>
{{/each}}
</div>