<div class="edit-article-container">
  <h2>
    Update Article
  </h2>
  <form class="edit-article-form">
    <label for="article_title">
      Article Title:
    </label>
    <br />
    <textarea id="article_title" name="article_title" rows="2" cols="30">
      {{article.article_title}}
    </textarea>
    <br />
    <label for="article_content">
      Content:
    </label>
    <br />
    <textarea id="article_content" name="article_content" rows="5" cols="30">
      {{article.article_content}}
    </textarea>
    <br />
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
    <p id="create-date">{{article.article_createDate}}</p>
  </form>
</div>
<script src="/js/edit-article.js"></script>